body > * {
  padding: 10vh 10vw;
  background-color: #F5F5F5;
}
body > *:nth-child(odd) {
  background-color: #EAF2FD;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 34px;
  background-color: #fff !important;
}
header .title {
  display: flex;
  align-items: center;
}
header .title img {
  width: 22px;
}
header .title h1 {
  margin-left: 9px;
  font-size: 16px;
  line-height: 19px;
}
header nav ul {
  display: flex;
  -moz-column-gap: 1.7vw;
       column-gap: 1.7vw;
}
header nav ul li {
  font-size: 16px;
  font-weight: 500;
}

main.main-content {
  display: flex;
}
main.main-content .text {
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
main.main-content .text h5 {
  text-align: initial;
  font-size: 52px;
  line-height: 61px;
}
main.main-content .text p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
main.main-content .text ul {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
main.main-content .text ul li a {
  display: flex;
  align-items: center;
  font-weight: 500;
}
main.main-content .text ul li a::after {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  content: url(../img/link.svg);
}
main.main-content img.face {
  height: 23vw;
  width: 23vw;
  border-radius: 100%;
}

.about-me {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.about-me p {
  font-size: 16px;
  line-height: 19px;
}
.about-me img.sign {
  width: 150px;
}

.strong-data {
  padding: 32px 10vw;
}
.strong-data h5 {
  padding-bottom: 32px;
}
.strong-data .square-container {
  display: flex;
  display: flex;
  justify-content: space-around;
}
.strong-data .square-item {
  width: 176px;
  height: 174px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
}
.strong-data .square-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
  transition: 0.4s ease-in-out;
  filter: invert(90%) sepia(6%) saturate(863%) hue-rotate(341deg) brightness(95%) contrast(88%);
}
.strong-data .square-item p {
  font-family: "Raleway", "Open Sans";
  font-weight: bold;
}

.education img {
  width: 26vw;
  height: 20vw;
  background-color: #fff;
  -o-object-fit: contain;
     object-fit: contain;
}
.education .education-items-container {
  display: flex;
  justify-content: space-between;
}
.education .education-item p {
  font-size: 16px;
  line-height: 19px;
}

.experience img {
  width: 53vw;
  height: 30vw;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
.experience .project {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.experience .project .data {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.experience .project .data .buttons-container {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.contact {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.contact img {
  width: 33.33%;
}
.contact .form-container {
  width: 66.66%;
}
.contact .form-container h5 {
  text-align: initial;
  margin: 0;
}
.contact .form-container p {
  margin-top: 8px;
  margin-bottom: 32px;
}
.contact .form-container form {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 32px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  padding: 32px 0px;
  text-align: center;
}
footer button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}/*# sourceMappingURL=index.css.map */