body > * {
    padding: 0px 10vw;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 34px;

    .title {
        display: flex;
        align-items: center;
        img {
            width: 22px;
        }
        
        h1 {
            margin-left: 9px;
            font-size: 16px;
            line-height: 19px;
        }
    }
    nav {
        ul {
            display: flex;
            column-gap: 1.7vw;
            li {
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}